.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 4rem 0;
}

.feedbackHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: .4rem;
}

.backNav {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  p {
    margin: .2rem .5rem;
  }

  .goBack {
    font-weight: bold;
  }

  .goBack:hover {
    text-decoration: underline;
  }

}

.body {
  width: 75%;
}
