.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.body {
  width: 70vw;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.sidebar {
  flex-basis: 15%;
}

.content {
  height: 100vh;
  flex-basis: 83%;
}

@media (max-width: 956px) {
  .container {
    margin-top: 2rem;
  }

  .body {
    flex-direction: column;
    gap: 0;
    width: 90%;
  }
}

@media (max-width: 1210px) {
  .body {
    width: 90%;
  }
}
