.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.body {
  width: 70vw;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.sidebar {
  flex-basis: 15%;
}

.content {
  height: 100vh;
  flex-basis: 83%;
}
