@import '../../global.scss';

.container {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  padding: 1.5rem 2rem 0 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  width: 100%;
}

.voteContainer {

}

.cardBody {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.cardBody:hover {
  h3 {
    color: $secondary-color;
  }
}

.content {
  margin-left: 2rem;

  p {
    margin-bottom: 1rem;
    text-align: left;
  }
}

.content > h3 {
  margin: 0;
}

.tagContainer {
  display: inline-flex;
  justify-content: center;
  margin: 0 .8rem 1.7rem 0;
  padding:  .3rem 1rem;
  cursor: pointer;
}

.voteCount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  padding:  .7rem;
  cursor: pointer;
}

.voteCount > h4 {
  margin: .4rem 0 0 0;
}

.commentCount {
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentCount {
  margin-left: .5rem;
}
