.sortListDropdown {
  position: relative;
  width: auto;

}

.triggerContainer {
  padding: .5rem;
}

.triggerText {
  color: #c3c7d9;
  font-size: 1rem;
  font-weight: 600;
  padding-right: .5rem;
}

.optionsContainer {
  width: 15rem;
}
