@import '../../global.scss';

.container {
  display: flex;
  justify-content: center;
}


.body {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
}

.backContainer {
  display: flex;
  margin-bottom: 1rem;
}

.leftArrow {
  margin: .5rem .8rem 0 0;
}

.goBack {
  font-weight: bold;
  margin-top: .2rem;
}

.cardBody {
  position: relative;
  background-color: white;
  width: 500px;
  border-radius: 6px;
}

.plusCircle {
  position: absolute;
  top: -1.5rem;
  left: 2.7rem;

  height: 3.5rem;
  width: 3.5rem;

  background-image: url("../../assets/suggestions/tablet/background-header.png");
  background-size: cover;


  border-radius: 50%;
}

.plusContainer {
  svg {
    margin: 1.75rem 1.05rem;
  }

}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  margin: 2.6rem;
  overflow: none;

  h1 {
    margin-bottom: .5rem;
  }
}

.formRow {
  position: relative;

  input, select, option, textarea {
    width: 95.5%;
    height: 2.5rem;
    padding-left: 1rem;
    color: $dark-font;
    background-color: $background;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input:hover, textarea:hover {
    border: 2px solid #5d74e9;
    margin: -2px;
  }

  select {
    position: relative;
  }

  textarea {
    height: 5rem;
    resize: none;
  }

  .select-selected {
    background-color: red;
  }

  h4 {
    margin: 1.3rem 0 0 0;
  }

  p {
    text-align: left;
    margin-bottom: .8rem;
  }
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.warningText {
  margin-top: 0;
  color: red;
  display: none;
}

.warningTextShow {
  display: contents;
}
