@import '../../global.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $banner;
  border-radius: 12px;
  padding: .9rem;
}

.content {
  display: flex;
  align-items: center;
  color: #c3c7d9;
  cursor: pointer;
}

h3 {
  color: $white-font;
  margin: 0 2rem 0 1rem;
}
