@import '../../global.scss';

.commentContainer {
  display: flex;
  margin-top: 2rem;
}

.commentContainer:not(:last-child) {
  border-bottom: 1px solid #eff1f5;
}

.feedbackHeader {
  display: flex;
  justify-content: space-between;
}

.commentHeader {
  display: flex;
}

.profilePhoto {
  margin-right: 1.8rem;

  img {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;

  p {
    text-align: left;
  }
}

.commentNameHeader {
  display: flex;
  justify-content: space-between;
}

.commentName {
  margin-bottom: .7rem;

  h4 {
    margin: 0;
  }
}

.reply {
  color: $secondary-color;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.replyingTo {
  color: $primary-color;
  font-weight: bold;
}

.body {
  position: relative;

}

.isReply {
  margin-left: -1.5rem;
}

.borderLeft {
  margin-bottom: 1rem;
  border-left: 1px solid #eff1f5;
  padding-left: 3rem;
  margin-left: -3.43rem;
}
