@import '../../global.scss';

.commentContainer {
  display: flex;
  margin-top: 2rem;;
}

.commentContainer:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #e2e4ec;
  border-bottom-width: 1px;
}

.commentHeader {
  display: flex;
}

.profilePhoto {
  margin-right: 2rem;

  img {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;

  p {
    text-align: left;
  }
}

.commentNameHeader {
  display: flex;
  justify-content: space-between;
}

.commentName {
  margin-bottom: .7rem;

  h4 {
    margin: 0;
  }
}

.reply {
  color: $secondary-color;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.hasReplies {
  border-left-style: solid;
  border-left-color: #e2e4ec;
  border-left-width: 1px
}
