@import '../../global.scss';

.container {
  position: relative;
  width: auto;
  display: inline-flex;
  flex-flow: row wrap;
  background-color: white;
  margin: 1rem 0 .5rem 0;
  padding: 1.5rem 1rem .5rem 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.tagContainer {
  margin: 0 .8rem .9rem 0;
  padding:  .3rem 1rem;
  cursor: pointer;
}

@media (max-width: 956px) {
  .container {
    margin: 0;
    flex-basis: 33%;
  }

  .tagContainer {
    height: 1.7rem;
  }
}
